
@{
    ViewBag.Title = "DeleteErro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ops! Deu erro!</h2>
<br />
<br />
<br />
<br />
<a href="/Categoria/Index"><i class="far fa-caret-square-left"></i> Voltar</a>
