USE [master]
GO
/****** Object:  Database [MeuSite]    Script Date: 13/10/2021 10:36:20 ******/
CREATE DATABASE [MeuSite]
USE [master]
GO
/****** Object:  Database [MeuSite]    Script Date: 08/10/2021 15:53:14 ******/
CREATE DATABASE [MeuSite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeuSite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MeuSite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeuSite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MeuSite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeuSite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeuSite]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 08/10/2021 15:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 08/10/2021 15:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCategoria] [int] NULL,
	[Nome] [varchar](100) NOT NULL,
	[Marca] [nchar](10) NULL,
	[Quantidade] [int] NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[ValorTotal]  AS ([Quantidade]*[ValorUnitario]),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([ID], [Nome]) VALUES (6, N'Carnea')
INSERT [dbo].[Categorias] ([ID], [Nome]) VALUES (7, N'teste')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Produtos] ON 

INSERT [dbo].[Produtos] ([ID], [IDCategoria], [Nome], [Marca], [Quantidade], [ValorUnitario]) VALUES (1, 6, N'Bisteca', N'Friboi    ', 20, CAST(10.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Produtos] OFF
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categorias] ([ID])
GO
USE [master]
GO
